body {
    font-family: DINCyr-Regular;
    text-shadow: none;
    color: #000;
    background: #9db8ca;
}

h1, h2, h3, h4 {
    font-family: DINCyr-Medium;
    line-height: 100%;
    font-weight: normal;
}

.video iframe {
    width: 450px;
    margin: 25px 0 20px;

}

section {
    background: #9db8ca;
    padding: 30px 0 60px;
}

p {
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 0;
    color: #000;
}

ul {
    margin-top: 15px;
    margin-left: 20px;
}

li {
    font-size: 18px;
    padding-bottom: 30px;
}

h1.main-heading {
    text-align: left;
    font-size: 40px;
    line-height: 45px;
    font-weight: 400;
    padding-bottom: 25px;
    border-bottom: solid 8px #0099cc;
}

h2.main-heading {
    text-align: left;
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    background: url(../img/hor-line.jpg) no-repeat bottom center;
}

h3 {
    line-height: 100%;
}

h3.white-text {
    margin-bottom: 20px;
    font-size: 36px;
}

h3.main-heading {
    font-size: 36px;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: url(../img/hor-line.jpg) no-repeat bottom center;
    line-height: 42px;
}

h4 {
    font-size: 27px;
    line-height: 30px;
    font-weight: normal;
}

h4 span {
    font-weight: 200;
    font-size: 18px;
}

.links {
    margin-top: 20px !important;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover {
    color: #ffffff;
    text-decoration: none !important;
}

.desc-heading {
    /*margin-top: 100px;*/
    color: #000;
    font-size: 22px;
    text-shadow: 1px 1px 2px #666;
    font-weight: 500;

}

.hr-top,
.hr-top-s{
    background: url(../img/hor-line.jpg) no-repeat;
    margin-top: 30px !important;
    padding-top: 30px;
}

.hr-top-s{
    background-position: -160px 0;
}


.green-text {
    color: #9db8ca;
}

.white-text {
    color: #fff;
}

.quote-left {
    float: left;
}

.quote-right {
    float: right;
}

.clearfix {
    clear: both;
}

::-moz-selection {
    background: #3fadd2;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #3fadd2;
    color: #fff;
    text-shadow: none;
}

.parallax-bg {
    z-index: -1 !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

#intro {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

#intro .bg1 {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

.parallax-bg {
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

#intro-globe {
    margin-top: 30px;
}

#intro-heading {
    font-size: 24px;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: normal;
    color: #ffffff;

    -webkit-text-shadow: 1px 1px 2px #000;
    -moz-text-shadow: 1px 1px 2px #000;
    -ms-text-shadow: 1px 1px 2px #000;
    -o-text-shadow: 1px 1px 2px #000;
    text-shadow: 1px 1px 2px #000;
}

.main-heading span {
    padding-bottom: 16px;
    color: #9db8ca;
}

.social-button {
    float: left;
    margin-right: 20px;
}

@media (min-width: 1200px) {

    .container,
    .span12 {
        width: 940px;
    }

    .row {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {

    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    iframe {
        width: 400px;
        height: 224px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main-heading span {
        border-bottom: none;
        color: #000000;
        padding-bottom: 16px;
    }

    .parallax-bg, .parallax-removed {
        background-attachment: scroll !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        box-shadow: none;
    }
}

/*custom style*/
.white-bg {
    font-size: 16px;
    background: #fff;
    padding: 20px;
}

.resource-lnk {
    margin: -5px 0 15px;
    display: block;
}

.title {
    margin-bottom: 0;
}

.digit {
    background: #ffffff;
    color: #9db8ca;
    font-size: 36px;
    line-height: 50px;
    padding: 0 25px 7px;
    font-family: DINCyr-Medium;
    line-height: 100%;
    margin-bottom: 25px;
}

.percent {
    color: #252525;
    font-family: DINCyr-Medium;
    font-size: 89px;
    line-height: 100%;
}

section #page6 {
    padding-top: 130px;
}

.black-lnk {
    color: #000;
    text-decoration: underline;
}

.black-lnk:hover {
    color: #000;
}

.add-top-half {
    margin-top: 25px;
}

/*/custom style*/

@media screen and (max-width: 979px) {
    iframe {
        width: 450px;
        height: 252px;
    }
}

@media screen and (max-width: 479px) {
    .container {
        padding: 0 10px;
    }

    iframe {
        width: 300px;
        height: 168px;
    }
}

